.css-13cymwt-control {
  min-height: 30px !important;
  border-color: #dee2e6 !important;
  border-radius: 6px !important;
}

.css-1jqq78o-placeholder {
  margin: 0px !important;
  padding: 0px !important;
}

.css-1dimb5e-singleValue {
  font-size: 13px !important;
}

.css-16xfy0z-control {
  max-height: 30px !important;
}

.css-1jqq78o-placeholder {
  font-size: 13px !important;
}

.form-control {
  font-size: 13px;
}
